body{
	background-image: url("https://images5.alphacoders.com/111/1115421.jpg");
	}
	h1{
	font-family: Verdana, sans-serif; 
	color:red; 
	text-align: center;
	margin-top:2%;
	}
	h2{
	font-family: Verdana, sans-serif; 
	color:rgb(27, 238, 27);
	text-align: center;
	}
	p{
	font-family: Arial, sans-serif; 
	font-size:20px;
	margin-top:5%;
	text-align: left;
	color: white;
	}